
.svgContainer{
    text-align: center;
}
svg{
    background-color: lightgray;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.wide-item {
    width: 100%;
}